.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: #35124C;
    border: solid white;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.login-container h4{
    margin: 0;
}
input[type="email"], input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    background-color: #543864;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

button.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #FFBD69;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

a {
    color: #1877f2;
    text-decoration: none;
    font-size: 0.7em;
}

*{
    font-family: 'Poppins';
    box-sizing: border-box;
}

/*grid view*/
[class*="col-"] {
  float: left;
  padding: 15px;
} 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*navigation bar*/
ul.topnav {
    font-family: 'Poppins';
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: fixed;
    top: 0;
    width: calc(100% - 40px); /* 10px space on both sides */
    left: 20px; 
    right: 20px; 
    border-bottom: 3px solid #B3B3B3; 
    display: flex;
    justify-content: space-between; /* Space between left and right items */
    align-items: center; /* Ensure items are vertically centered */
}

ul.topnav li {
    list-style: none;
    padding: 0;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: grey;
}

ul.topnav li a.active {
    background-color: #1E1E1E;
    font-weight: bold;
}

ul.topnav .nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    align-items: center;
}

ul.topnav li.right {
    margin-left: auto;
    padding: 14px 16px;
}

ul.topnav li.right a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
}

/*body*/
body {
    background-color: black; 
    color: white; /* text color */
    margin: 0;
    padding-top: 60px;
}

/*search bar*/
.search-container {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 20px;
    margin-top: 40px; 
    margin-left: auto;
    margin-right: auto;
    color: grey;
}

.search-input {
    width: 60%;
    font-size: 15px;
    color: black;
    margin-left: 14px;
    border: none;
    background: transparent;
    outline: none;
}

button{
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

button.b1{background: #FFBD69; width: 15%;}
button.b1:hover{background: #FFAF47; width: 15%;}
button.b2{background: #543864;color: white; width: 15%;}
button.b2:hover{background: #412C4E; color: white; width: 15%;}

/*HOME*/
/*cover image*/
.image-container{
    text-align: left;
    position: relative;
}

img{
    display: block;
    border-radius: 8px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*cover title*/
h1.cover {
    width: 50%; 
    padding-left: 20px; 
    color: #FFBD69;
    text-align: left;
    font-size: 8vw; 
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    line-height: 1.1;
    font-family: fantasy;
}

/* Container for trending tracks and view more */
.trending-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 0;
}

.trending-container p {
    margin: 0;
    font-size: 18px;
}

/* Popup modal styling */
.modal {
    color: black;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 250px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content h2, .modal-content h3 {
    font-family: 'Poppins', sans-serif;
}
.modal-content button{
    background: #FFBD69;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%; /* Full width for mobile-friendliness */
}

.modal-content button:hover {
    background: #FFAF47;
}

/*ALBUM*/

* {box-sizing: border-box;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 5px;
    padding: 16px;
}

.grid-item {
    padding: 16px;
    border-radius: 8px;
/*    border: 3px solid #FFBD69;*/
}

.grid-item img {
    width: 100%;
    height: auto;
}

.album-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.grid-item h3.title {
    font-size: 1em;
    color: white;
    margin: 0;
}

.grid-item h3.year {
    font-size: 1em;
    color: #FFBD69;
    margin: 0;
}
@media (max-width: 600px) {
    .grid-container {
    grid-template-columns: 1fr;
    }
}

/*USER*/

/*review statistic*/
/* Flexbox container for review statistics */
.reviewStatistic-container {
    padding :20px;
    display: flex;
    justify-content: space-around; /* Space between the two items */
    align-items: center; /* Vertically center items */
    margin-top: 20px;
    text-align: center; /* Center the text within each statistic item */
    border: solid white 3px;
    border-radius: 20px;
    background: 
}

/* Styling for each statistic item */
.statistic-item {
    flex: 1; /* Allows the items to grow and fill available space equally */
    margin: 10px;
}

.rs-heading {
    margin: 5px 0;
    font-size: 2.5em;
    font-weight: bolder;
}

img.circular-image{
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
}

.accountContainer{
    margin: 8%;
}

input.account-detail {
    width: 100%;
    font-size: 15px;
    padding: 4px;
    margin: -20px 0 20px 0;
    border-radius: 6px;
    display: block;
    margin-left: auto; /* Centers input within container */
    margin-right: auto;
}

p.underscore{
    text-decoration: underline;
    cursor: pointer;
}

p.underscore:hover{
    color: #FFBD69;
}

button.logout-button{
    background: crimson;
    color: white;
    width: auto;
    font-weight: bold;
    display: block;
    margin-left: auto; margin-right: auto;
}
button.logout-button:hover{
    background: darkred;
}