*{
    font-family: 'Poppins';
    box-sizing: border-box;
}

/*grid view*/
[class*="col-"] {
  float: left;
  padding: 15px;
} 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*navigation bar*/
ul.topnav {
    font-family: 'Poppins';
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: fixed;
    top: 0;
    width: calc(100% - 40px); /* 10px space on both sides */
    left: 20px; 
    right: 20px; 
    border-bottom: 3px solid #B3B3B3; 
    display: flex;
    justify-content: space-between; /* Space between left and right items */
    align-items: center; /* Ensure items are vertically centered */
}

ul.topnav li {
    list-style: none;
    padding: 0;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: grey;
}

ul.topnav li a.active {
    background-color: #1E1E1E;
    font-weight: bold;
}

ul.topnav .nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1; 
    align-items: center;
}

ul.topnav li.right {
    margin-left: auto;
    padding: 14px 16px;
}

ul.topnav li.right a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: white;
}

/*body*/
body {
    background-color: black; 
    color: white; /* text color */
    margin: 0;
    padding-top: 60px;
}

/*search bar*/
.search-container {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 20px;
    margin-top: 40px; 
    margin-left: auto;
    margin-right: auto;
    color: grey;
}

.search-input {
    width: 60%;
    font-size: 15px;
    color: black;
    margin-left: 14px;
    border: none;
    background: transparent;
    outline: none;
}

button{
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
    cursor: pointer;
    width: 15%;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

button.b1{background: #FFBD69;}
button.b1:hover{background: #FFAF47;}
button.b2{background: #543864;color: white;}
button.b2:hover{background: #412C4E; color: white;}


/*cover image*/
.image-container{
    text-align: left;
    position: relative;
}

img{
    display: block;
    border-radius: 8px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*cover title*/
h1.cover {
    width: 50%; 
    padding-left: 20px; 
    color: #FFBD69;
    text-align: left;
    font-size: 8vw; 
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 50%; 
    transform: translateY(-50%); 
    line-height: 1.1;
    font-family: fantasy;
}

/* Container for trending tracks and view more */
.trending-container {
    display: flex;
    justify-content: space-between; /* Space between the left and right elements */
    align-items: center; /* Aligns items vertically in the center */
    padding: 10px 0;
}

.trending-container p {
    margin: 0;
    font-size: 18px;
}


/*user.html*/

/*review statistic*/
/* Flexbox container for review statistics */
.reviewStatistic-container {
    padding :20px;
    display: flex;
    justify-content: space-around; /* Space between the two items */
    align-items: center; /* Vertically center items */
    margin-top: 20px;
    text-align: center; /* Center the text within each statistic item */
    border: solid white 3px;
    border-radius: 20px;
    background: 
}

/* Styling for each statistic item */
.statistic-item {
    flex: 1; /* Allows the items to grow and fill available space equally */
    margin: 10px;
}

.rs-heading {
    margin: 5px 0;
    font-size: 2.5em;
    font-weight: bolder;
}

p.underscore{
    text-decoration: underline;
    cursor: pointer;
}

p.underscore:hover{
    color: #FFBD69;
}